.header {
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 1rem 2rem;
  color: var(--primary-color);
  font-family: var(--code-font);
  position: fixed;
  transition: background-color 0.3s, padding 0.3s;
}

.header{
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.logo-container .logo {
  width: 45px;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
}

.nav-links a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--secondary-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger-icon {
  width: 25px;
  height: 2px;
  background-color: var(--primary-color);
  position: relative;
  transition: transform 0.3s ease;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--primary-color);
  transition: transform 0.3s ease;
}

.hamburger-icon::before {
  transform: translateY(-8px);
}

.hamburger-icon::after {
  transform: translateY(8px);
}

.hamburger-icon.open {
  background-color: transparent;
}

.hamburger-icon.open::before {
  transform: rotate(45deg) translateY(0);
}

.hamburger-icon.open::after {
  transform: rotate(-45deg) translateY(0);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
    align-items: center;
    background-color: white;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .nav-links a {
    font-size: 1.2rem;
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
  }

  .header.scrolled .nav-links {
    top: 50px;
  }
}